body {
	color:#000000;
	background-color:#f2f2f2;
	font-family:"helvetica";
	font-size:14px;
	line-height:150%;
}

a:link,a:active,a:visited {
	color:#808080;
	text-decoration:none;
}

a:hover {
	background-color:#f2f2f2;
}

#container {
	background-color:#ffffff;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	padding:25px 50px 25px 50px;
	text-align:justify;
}

#headerimg {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	width:600px;
}